h3 {
  font-family: Mona sans;
  font-weight: 400;
}
li {
  list-style: none;
}
.carriers-section {
  padding: 4rem 1rem;
  font-family: sans-serif;
  color: #2d3748;
}

.carriers-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
/* ========================================== */
.carriers-container .border-1b {
  --tw-border-opacity: 1;
  border-color: rgb(26 26 26 / var(--tw-border-opacity));
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.from-site-background {
  --tw-gradient-from: #000 var(--tw-gradient-from-position);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  position: absolute;

  inset: 0;
  width: 100%;
  height: 2rem;
}
/* ========================================= */
.carriers-container .border-b {
  border-bottom-width: 1px;
}
.carriers-support-link {
  color: #3182ce;
  text-decoration: none;
}

.carriers-support-link:hover {
  text-decoration: underline;
}

.carriers-accordion-item {
  border: 1px solid #333;
  border-radius: 0.5rem;
  margin-top: 1rem;
  overflow: hidden;
}

.carriers-accordion-trigger {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
}

.carriers-accordion-trigger span.question {
  color: gray;
}
.carriers-accordion-trigger[aria-expanded="true"] {
  background-color: #111;
}
p strong {
  font-weight: 400;
  font-size: clamp();
}
.carriers-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
}

.carriers-accordion-content p {
  margin: 1rem 0;
  color: #fff;
}
.carriers-accordion-content li {
  padding: 0.78rem;
  color: #fff;
  display: flex;
  gap: 0.65em;
}
.carriers-accordion-content li svg {
  width: 30px;
}
@media (max-width: 768px) {
  .carriers-accordion-trigger {
    flex-direction: column;
    align-items: start;
  }
  .carriers-accordion-content {
    height: 300px;
    overflow-y: auto;
  }
}
